---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignOperands: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BraceWrapping:
  AfterClass: true
  AfterControlStatement : true
  AfterEnum : true
  AfterFunction : true
  AfterNamespace : false
  AfterStruct : true
  AfterUnion : true
  BeforeCatch : true
  BeforeElse : true
  IndentBraces : false
BreakBeforeBraces: Custom
BreakConstructorInitializersBeforeComma: false
ColumnLimit: 80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
Cpp11BracedListStyle: true
IndentWidth: 2
NamespaceIndentation: None
PointerAlignment: Left
Standard: Latest
UseTab: Never
FixNamespaceComments: true
ReflowComments: true
...
